*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MuseoModerno", cursive;
}

body{
    width: 100%;
    height: 100%;

    background-color: #1a1a1a;
}


header{

    width: 100%;
    height: 70px;

    background-color: #101010;

    box-shadow: 0px 5px 20px #000;

    padding: 10px;

    display: flex;

    align-items: center;

    flex-wrap:  wrap;

    justify-content: space-between;
}

.menu {
    list-style: none;

    display: flex;
    flex-wrap: wrap;

}

.menu li a {
    color: #FFF;

    display: block;
    text-decoration: none;

    padding: 10px 20px 10px 20px;

    border-radius: 10px;

    margin-left: 10px;
}

.menu li a:hover {
    color: #FFF;

    display: block;
    text-decoration: none;

    background-color: #333;

    margin-left: 10px;
}


.logo{
    width: 40px;
    height: 40px;

    border-radius: 10px;

    background-color: #ccc;
}

h1 {
    color: #FFF;
    text-align: center;
    margin: 20px;
}


.container{

    max-width: 1200px;

    margin: 0 auto;

    border: 1px solid #fff;

    display: flex;

    flex-wrap: wrap;
}

.container div {

    flex: 1 1 350px;

    margin: 10px;
}

img{
    width: 100%;
    border-radius: 10px;

}

.sidenav{
    width: 300px;

    height: 700px;

    background-color: #333;
}







.menu li a:hover{
    background-color: #444;
}

h1{
    color: #fff;
    text-align: center;
    margin: 20px 0px 20px 0px;
}







/* CSS GRID LAYOUT */


