*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    background-color: #333;
}

header {
    width: 100%;
    height: 70px;
    background-color: #101010;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #3806B1;
    border-radius: 10px;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}

.menu li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 15px;
}

.menu li a:hover {
    color: #FFF;

    display: block;

    background-color: #333;

    margin-left: 15px;
}

h1 {
    color: #3806B1;
    text-align: center;
    margin: 25px;
}

.container {
    max-width: 1200px;
    border: 1px solid #FFF;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    flex: 1 1 300px;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}